.Login{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.Login > div {
    width: 100%;
    max-width: 590px;
    padding: 50px 20px;
    background: #1D3B55;
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    background-image: url('./assets//report.png');
    background-repeat: no-repeat;
    background-position: 80px 20px;
}

.Login h1 {
    text-align: center;
    color: white;
    margin-top: 0;
}

.Login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

